html {
  box-sizing: border-box;
}

header {
 background-image: url("images/AmericanFlag1.jpg");
 background-color: #cccccc;
 background-repeat: repeat-x;
}
	

h1 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
}