html {
  box-sizing: border-box;
}

header {
 color: #e63946;
 background-repeat: repeat-x;
}

h1 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #d41c04;
  font-family: Lucida Console;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

footer {
	padding:10px;
	height:30px;
	text-decoration: none;
  align-content: center;
}
body {
  background-color: #457b9d;
	background-repeat: repeat-x;
}

h1 {
  font-family: Lucida Console;
  color: #f1faee;
}
h2 {
  font-family: Lucida Console;
  color: #457b9d;
}
h3 {
  font-family: Lucida Console;
  color: #457b9d;
}
.center {
  background-color: #f1faee;
  margin: auto;
  width: 95%;
  height: 315px;
  border: 3px solid #e63946;
  padding: 10px;
  align-content: center;
  align-self: center;
}
.desciption {
  background-color: #f1faee;
  margin: auto;
  width: 95%;
  height: 150px;
  border: 3px solid #e63946;
  padding: 10px;
}
